@font-face {
    font-family: GothamLight;
    src: url('fonts/Gotham-Light.ttf');
}

/*@font-face {
    font-family: GothamBold;
    src: url('fonts/Gotham-Black.ttf');
}*/

@font-face {
    font-family: GothamBold;
    src: url('fonts/Gotham-Bold.ttf');
}

@font-face {
    font-family: GothamBlack;
    src: url('fonts/Gotham-Bold.ttf');
}


@font-face {
    font-family: Majesti;
    src: url('fonts/Majesti-Banner-BookItalic.otf');
}

.wcmp_media_block input[type=button] {
    color: #FFF !important;
}


body {
	font-family: GothamLight;
}

.GothamBlack {
	font-family: GothamBlack;
}

.GothamBold {
	font-family: GothamBold;
}

.Majesti {
	font-family: Majesti;
}

.header-logo img{
	margin-right: 20px;
    vertical-align: middle
}

.site-toolbar {
	background: none;
}

.wcvendors_sold_by_in_loop, .variation {
	display: none;
}

.woocommerce a.button {
	/*background: white;*/
	border: 2px solid #ccc;
}

.woocommerce a.button:hover {
	background: #ccc;
}


.element-button.transparent {
	background: none;
	border: 2px solid #1E36E4;
}


.element-button {
	border-radius: 0px;
}


.element-button.opaque {	
    font-family: GothamBlack;
	font-size: 10px;
	padding-top: 5px;	
	/*padding-left: 35px;
	padding-right: 35px;*/
}

.element-button.primary {
	border-color: #3B3131;
    background: transparent;
    font-family: GothamBlack;
	font-size: 10px;
	padding-top: 5px;	
	/*padding-left: 35px;
	padding-right: 35px;*/
	color: #3B3131 !important;
}


.element-button.start {
	border-color: #23ec90;
    background: #23ec90;
    font-family: GothamBlack;
	font-size: 12px;
	/*padding-left: 25px;
	padding-right: 25px;*/
	padding-top: 5px;
	padding-bottom: 5px;
}

.element-button.browse {
	border-color: #3B3131;
	font-family: GothamBlack;
	font-size: 12px;
	/*padding-left: 25px;
	padding-right: 25px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	color: #403f3f !important;
	margin-right: 15px;
    
}

.slider {
	font-family: GothamBold;
	font-size: 10px;
	padding: 10px;
	color: #1E36E4 !important;
	margin-right: 10px;
}




/*.element-button {
	background: none;
	border: 2px solid #1E36E4;
}*/


.item-preview {
	/*border: none;*/
	border-radius: 0px;
	border-color: #EEEEEE;
}

.item-preview .item-details {
	/*border-top: none;*/
}

.item-image {
	background: #e5eef1;
}

.item-preview .item-footer {
	border-top: 0px solid #dfdfdf;
    background: #fff;
    margin-bottom: 10px;
}

.item-preview .item-options a.add_to_cart_button {
	background: #abc7d0 !important;
}


.item-preview .item-options a {
	float: none;
	border: 0px solid #d3d3d3;
	border-radius: 50%;
    background: #fdbc6e;
    color: #fff;
    padding: 10px;
    font-size: 12px;
}

.item-preview .author-name {
	text-align: center;
}


.item-preview .item-name, .item-price {
	text-align: center;
}

.item-preview .item-name a{
	color:  #403f3f;
	font-family: GothamBlack;
}

.item-preview .author-name a{
	color:  #9e9e9e;
	font-family: Majesti;
	font-size: 15px;
}

.item-preview .item-price .amount {
	color:  #9e9e9e;
	font-size: 15px;
	font-family: GothamBlack;
}


.featured-header {
	font-family: GothamBold;
	text-align: center;
	font-size: 22px;
}

.featured-hr {
	width: 8%;
	border-top: 5px solid #abc7d0;
}

.title-hr-er {
	width: 100%;
	border-top: 1px solid #abc7d0;
}

.reviews-form a{
	color: #3B3131 !important;
    border: 2px solid #3B3131 !important;
    background: #FFF !important;
}

.site-content h2 {
	font-family: GothamBold;
	font-size: 18px;
	color: #403f3f;
}

.testimonial-author {
	display: none;
}


.25px-content h2 {
	margin: 0;
	color: #403f3f;
}

.section-wrap {
	padding: 0;
	background: #e5eef1;
}

.quote {
	width: 25px;
	float: right;
	margin-top: -30px;
}

.unquote {
	width: 25px;
	float: left;
}

.testi-content-container {
	display: table;
  	width: 100%;
}

.testi-content {	
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.footer-menu a {
	font-family: Majesti;
}

.header-cart .amount {
	font-size: 12px;
}

.cart-quantity {
	font-size: 12px;
}

.header-menu div > ul > li > a {
	text-transform: capitalize;
	color: #3B3131;
}

.site-header {
	padding-bottom: 0;
}

.product_page_hr {
	margin-bottom: 20px;
	margin-top: 0px;
	width: 15%;
	border-top: 5px solid #abc7d0;
}

.item-footer {
	margin-bottom: 30px;
}

/*.item-full .item-options .element-button.add {
	border-radius: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #2d6af2;
	border-color: #2d6af2;	
	
*/
}

.item-full .item-options .element-button.heart {
	background-color: #d88896;
	border: 0px;
	/*border-radius: 50%;*/
	color: #fff !important;	
	

}

.item-full .item-options .element-button.bubble {
	/*background-color: #abc7d0;
	border: 0px;
	
	color: #fff !important*/
	/*border-radius: 50%;*/
}

.element-button.secondary:before {
	border: 0px;
}

.title-holder {
	margin-top: 10px;
}

/*.item-full .item-price.big {
	font-size: 30px;
}*/

/*.woocommerce #content .quantity input.qty {
	height: 35px;
}*/

.white { /*not white */
	color: #3B3131;
}

.social-media-iconset {
	width: 170px;	
	margin-bottom: 30px;

}

.footer-wrap {
	background-color: #555a60;
	position: relative;
}

.woocommerce-product-search input[type="submit"] {
	display: none;
}

.item-preview .item-image {
	padding: 0px;
}

/*.content-wrap:nth-child(2) {
	padding-bottom: 15em;
}*/

.content-wrap:nth-child(4) {
	display: none;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}
/*.site-copyrigh.search-field {
	width: 100%;
}*/

.footer-search {
	width: 80%;
	background: transparent;
	border-radius: 0px;
	color: #c6c7c9;
	margin-bottom: 30px;
}

.search-button-footer {
	float: left;
	padding-top: 6px; 
	padding-bottom: 6px; 
	padding-left: 15px; 
	padding-right: 15px; 
	border: 1px solid #c6c7c9; 
	border-left: 0px;"
}

.fav-img-btn {
	width: 30%;
	float: left;
	margin-right: 5px;
	
}

.comment-img-btn {
	width: 30%;
	float: left;
}

.testi-img-container {
	/*width: 39.45%;
	height: 275px;*/
	height: 370px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%); 
	-ms-filter: grayscale(100%);

	opacity: 0.6;
	filter: grayscale(100%);;
}

.testi-img-container img{
	width: 100%;
	/*height: 400px;*/
	margin-top: -20px;
	
}

.site-footer {
	padding-top: 90px;
	padding-bottom: 70px;
}

/*.site-copyright {
	width: 35%;
}*/

.element-title h1{
	font-family: GothamBlack;
}


.item-full .item-price {
	color: black;
}

.woocommerce table.my_account_orders .order-actions a.track-button {
	margin: 0px;
	background-color: #fff;
	border: 0px;
}

.woocommerce table.my_account_orders .order-actions {
	text-align: center;
}

.woocommerce table.my_account_orders .order-actions img {
	height: 20px;
}

.author-details .author-name {
	font-family: GothamBlack;
}

.element-button.sign {
	border-color: #4e99df;
    background-color: #4e99df;
    font-family: GothamBlack;
	font-size: 10px;
	padding-top: 5px;	
	/*padding-left: 35px;
	padding-right: 35px;*/
} 

.site-title h1{
	font-family: GothamBlack;
}

.image-wrap {
	border-radius: 0;
}

.item-gallery {
	padding: 0;
	border: 0px;
}


.item-gallery .image-wrap {
	margin: 0px;
}


.site-copyright-spacer {
	margin-bottom: 50px;
}

.company-footer {
	margin-top: 60px;
}

.testi-text {
	margin-top: 85px;
}

input[type="text"], textarea {
	width: 100%;
}

h5 {
	margin-bottom: 0;
}


/* .profile-menu li:nth-child(2) {
	display: none;
} */

/* Media Queries Iphone */
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	.footer-search {
		width: 85%;		
	}

	.site-copyright-spacer {
		display: none;
	}

	.company-footer {
		margin-top: 0px;
		float: none;
	}

	.testi-img-container {
		height: auto;
	}

	.testi-img-container img {
		margin-top: 20px;
	}

	.testi-text {
		margin-top: 0px;
	}



}
/* Iphone 5 */
/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	.company-footer {
		margin-top: 0px;
		float: none;
	}
	.site-copyright-spacer {
		display: none;
	}

	.header-logo img {
		margin-right: 5px;
	}

	.header-options {
		margin-top: 15px;
	}
	/*.header-logo {
		float: none;
		text-align: center;
		margin-bottom: 20px; 
	}

	.header-options {
		float: none;
		margin: 0 auto;
	}*/
}

/* Iphone 6 */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  	.header-logo img {
		margin-right: 5px;
	}

	.header-options {
		margin-top: 12px;
	}

	.company-footer {
		margin-top: 0px;
		float: none;
	}
	.site-copyright-spacer {
		display: none;
	}
}


/* Iphone 6+ */
/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
  	.header-logo img {
		margin-right: 5px;
	}

	.header-options {
		margin-top: 15px;
	}

	.company-footer {
		margin-top: 0px;
		float: none;
	}
	.site-copyright-spacer {
		display: none;
	}
}


/* IPAD */
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.site-copyright {
  		float: none;
  	}

  	.footer-details-right {
  		margin-top: -150px;
  	}

  	.testi-img-container {
  		height: auto;
  	}

  	.element-slider > ul {
  		height: auto;
  	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.site-copyright {
  		float: none;
  	}

  	.footer-details-right {
  		margin-top: -150px;
  	}
}



.prod_review {
	display: inline-block;
	position: relative;
	width: 50%;
}

.prod_review iframe {
	width: 100%;
	height: 200px;
}

.prod_review img {
	width: 100%;

}

.avatar_img {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.avatar_img img {
	width: 40px !important;
}




.review_logo {
	position: absolute;
    top: 8px;
    left: 8px;
    font-size: 18px;
}

.review_logo img {
	width: 60px !important;
	display: none !important;
}



.prod_content {
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

.youtube_thumbs {
	display: inline-block;
	/*width: 32%;
	height: 32%;*/
	position: relative;
	cursor: pointer;
}

.insta_img {
	object-fit: cover; /* Do not scale the image */
  	object-position: center; /* Center the image within the element */
	height: 100px !important;
}


.comments-wrap li {
	border: none;
}


#carousel_youtube {
	height: 100px;
	width: 70%;
}

#carousel_instagram {
	height: 100px;
	width: 70%;
}


.social_holder {
	width: 25%;
	/*position: relative;
  	top: 50%;
  	transform: translateY(-50%);*/
	
}

.inline-block {
	display: inline-block;
}

.slide_thumb {
	cursor: pointer;
}

.wcmp_shop_settings_form{
	margin: 0 5%;
}

.wcmp_form1, .wcmp_form1 .txt, .full_part{
	padding: 0px;
}

.moregap{
	margin: 0px;
}

.wcmp_form1 p, .wcmp_media_block p{
    margin: 0;
    padding: 15px 0px 5px 0px;
}

.wcmp_form1 input, .wcmp_form1 textarea, .wcmp_media_block{
	margin: 5px 0px;
}

.wcmp_form1 textarea{
	width: 100%;
}

.half_part, .one_third_part{
	padding: 0;
	padding-right: 2%;
}

.action_div{
	position: relative;
}

.wcmp_orange_btn, .wcmp_ass_btn{
	color: #fff !important;
}